@{
    ViewData["Title"] = "YNot Point of Service";
}

<div class="jumbotron"><h1>YNot Point of Service</h1></div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to YNot POS and Inventory System</h2>
        <p>YNot POS has been built in Visual Studio 2017 using Entity Framework Core in an ASP.Net MVC Web Application.</p>
    </div>
</div>
